* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c1fbff;
  }
  
  #gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }
  
  canvas {
    border: 2px solid #007724; /* Darker border for contrast */
    background-color: #05743c; /* Light pastel background color */
    border-radius: 8px; /* Rounded corners for a softer look */
    box-shadow: 4px 4px 10px rgba(100, 185, 3, 0.589), -4px -4px 10px rgb(232, 255, 231); /* 3D shadow effect */
  }
  
  
  #scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* #resetButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #resetButton:hover {
    background-color: #45a049;
  } */
  